{% extends '_base.html' %}

{% load poll_extras %}

{% block title %} {{ user.username }} Cart {% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Cart</h5>
            <form method="post">
                {% csrf_token %}
                <ul class="list-group list-group-flush">
                {% for cart_item, form in cart_object.cart_items.all|zip:forms %}
                    <li class="list-group-item">
                    <button name="delete_button" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>   
                    <a href="{{ cart_item.product.get_absolute_url }}">{{cart_item.product.name}} - {{cart_item.product.price|decimal_separator}} $ - {{cart_item.product.producer}}</a>  {{ form }}</li>
                        <input hidden name="cart_item_pk" value={{cart_item.pk}}>
                </li>
    
                {% empty %}
                    <li class="list-group-item"> No products in cart. </li>
                {% endfor %}
                </ul>
                {% if cart_object.cart_items.count > 0 %}
                    <br>Price: ${{ cart_price_str }} 
                    <br><br><input  class="btn btn-outline-success" name="save_button" type="submit" value="Save">
                    <input class="btn btn-outline-success" name="buy_button" type="submit" value="Buy">
                {% endif %}

            </form>
            </ul>
        </div>
    </div>
</div>
    <ul>


{% endblock content %}