{% extends '_base.html' %}

{% block title %} List Of Categories {% endblock title %}

{% block content %}
    <ul>
    {% for categorie in object_list %}
        <li>
            {% if categorie_update_form and categorie.pk|stringformat:'s' == form_pk|stringformat:'s' %}
                <form method='post'>
                    {% csrf_token %}
                    {{ categorie_update_form }}
                    <input type="hidden" name="categorie_pk" value={{ categorie.pk }}>
                    <input type="submit" name="submit_categorie_update" value="submit">
                </form>
                <form method='post'>
                    {% csrf_token %}
                    <input type="submit" name="cancel" value="Cancel">
                </form>
            {% else%}
                <a href="{{ categorie.get_absolute_url }}">{{ categorie.name }}</a>
                <form method='post' >
                    {% csrf_token %}
                    <input type="hidden" name="categorie_pk" value={{ categorie.pk }}>
                    <input type="submit" name="categorie_update" value="edit"> 
                    <input type="submit" name="categorie_delete" value="delete">
                </form>
                <form action="{% url 'categorie_checkbox' categorie.pk %}" method="get">
                    <input type="submit" value="add/delete products">
                </form>
            {% endif %}
            
        </li>
    {% empty %}
        <li> No categories created. </li>
    {% endfor %}
    </ul>
    {% if categorie_create_form %}
        <form method=post>
            {% csrf_token %}
            {{ categorie_create_form }}
            <input type="submit" name="submit_categorie_create" value="Submit">
        </form>
        <form method=post>
            {% csrf_token %}
            <input type="submit" name="cancel" value="Cancel">
        </form>
    {% else %}
        <form method=post>
            {% csrf_token %}
            <input type="submit" name="categorie_create" value="Add Categorie">
        </form>
    {% endif %}

{% endblock content %}