{% extends '_base.html' %}

{% block title %} {{partner_object.name}} {% endblock title %}

{% block content %}

<h1>{{partner_object.name}}</h1>
<form enctype="multipart/form-data" method="post">
    Assign:
    {% csrf_token %}
    {{form_addable}}
    <br> <input type="submit" name="add_button" value="Add">
</form>
<form enctype="multipart/form-data" method="post">
    Assigned:
    {% csrf_token %}
    {{form_already_added}}
    <br> <input type="submit" name="delete_button" value="delete">
</form>



{% endblock content %}